.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.comments {
  padding-left: calc(50% - 300px);
  padding-right: calc(50% - 300px);
}

.delet__comment_button {
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 3px 8px;
  background-color: rgb(235, 83, 83);
  border: 1px solid rgb(241, 35, 35);
}

.main {
  padding-left: calc(50% - 250px);
  padding-right: calc(50% - 250px);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.task_fields {
  display: flex;
  align-items: center;
  gap: 8px;
}